@font-face {
  font-family: "terano-font";
  src: url("./TeranoRegular.ttf");
}

.terano {
  font-family: "terano-font";
}

@font-face {
  font-family: "bisect-font";
  src: url("./Bisect.otf");
}

.bisect {
  font-family: "bisect-font";
  font-size: 2em;
  margin: auto;

  background-image: linear-gradient(
    0deg,
    rgb(46, 46, 46) 0%,
    rgb(0, 140, 152) 58.2%,
    rgb(75, 75, 75) 58.3%,
    rgb(33, 33, 33) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* mix-blend-mode: difference; */
}
body {
  margin: 0%;
}
* {
  box-sizing: border-box;
}
nav {
  display: flex;

  align-items: center;
  height: 5em;

  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgb(33, 33, 33) 0%,
    rgb(75, 75, 75) 53%,
    rgb(0, 140, 152) 54%,
    rgb(46, 46, 46) 100%
  );
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#camera {
  position: relative;
  width: 40em;
  background-color: rgb(90, 90, 90);
  aspect-ratio: 1/1;
}
/* .lens {
  position: flex;

  top: 20%;
} */
#test {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 35%;
  aspect-ratio: 1 / 1;
}
#newGuide {
  position: absolute;
  z-index: 900;
  /* background-color: green; */
  width: 5px;
  height: 5px;
}
.lens-ring1 {
  background-color: rgb(33, 33, 33);
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
  border-radius: 50%;
  border: solid black 0.5em;
}
#lens-bod1 {
  position: absolute;
  background-color: rgb(33, 33, 33);
  /* background-color: rgb(237, 0, 0); */
  border-left: solid black 0.5em;
  border-right: solid black 0.5em;
  top: 50%;
  left: 35%;

  width: 30%;
  height: 0%;
  transform-origin: top center;
  transform: rotate(90deg);
}
#lens-ring2 {
  background-color: rgb(33, 33, 33);
  position: absolute;
  top: 35%;
  left: 35%;

  height: 30%;
  width: 30%;
  border-radius: 50%;
  border: groove black 0.5em;
}
.cam-bod {
  position: absolute;
  height: 40%;
  width: 60%;
  left: 20%;
  top: 30%;
  background-color: rgb(33, 33, 33);
  border: solid black 0.5em;
  border-right: none;
  border-top: none;
  border-radius: 15%;
}
#cam-bod-depth {
  position: absolute;
  top: 28%;
  left: 23%;
  height: 40%;
  width: 60%;
  background-color: rgb(23, 23, 23);
  /* border: solid black 0.5em;
    border-right: none; */
  border-radius: 15%;
}

#shutter-box {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
  background-color: #fff;
  background-image: url("../img/happyshrimp.png");
  background-size: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 50em;
  border: solid black 0.5em;
  /* box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.9); */
  /* margin-top: 2em; */
  transform: skew(0deg, 0deg);
}

#shutter-box:hover #apt1 {
  translate: -40% 20%;
}
#shutter-box:hover #apt2 {
  translate: -25% 0%;
}
#shutter-box:hover #apt3 {
  translate: -10% -16%;
}
#shutter-box:hover #apt4 {
  translate: 10% -16%;
}
#shutter-box:hover #apt5 {
  translate: 25% 0%;
}
#shutter-box:hover #apt6 {
  translate: 0% 40.25%;
}

/* .guide {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    top: 15em;
    left: 15em;
    margin: auto;
  } */
.apt-slide {
  position: absolute;
  transform-origin: top right;
  right: -333.333333%;
  width: 133.3333%;
  height: 200%;
  background-color: rgba(50, 50, 50, 1);
  transition: all 3s ease;
}

#apt1 {
  z-index: 1;
  transform-origin: top left;
  width: 83.3333%;
  height: 100%;
  clip-path: polygon(0% 0, 100%50%, 0% 100%);
  left: 50%;
  top: 50%;
}
#apt2 {
  right: 50%;
  top: 100%;
  rotate: 90deg;
}
#apt3 {
  right: 100%;
  top: 78.88666%;
  rotate: 150deg;
}
#apt4 {
  right: 100%;
  top: 21.11%;
  rotate: -150deg;
}
#apt5 {
  right: 50%;
  top: 0%;
  rotate: 270deg;
}

.slide-shadow {
  position: absolute;
  top: -3.333%;
  width: 100%;
  height: 3.333%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slide-shadow1 {
  position: absolute;
  top: 20%;
  right: 48.7%;
  transform: rotate(90deg);
  width: 100%;
  height: 2%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 3s ease;
}

.slide-shadow3 {
  position: absolute;
  top: -1%;
  right: -3.5156%;
  width: 46.75%;
  height: 1%;
  clip-path: polygon(1.75% 0, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 3s ease;
}
.slide-shadow4 {
  position: absolute;
  top: -1%;
  right: -3.5156%;
  width: 46.75%;
  height: 1%;
  clip-path: polygon(1.75% 0, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 3s ease;
}
.slide-shadow5 {
  position: absolute;
  top: -1%;
  right: -3.906%;
  width: 41.5%;
  height: 1%;
  clip-path: polygon(2.25% 0, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 3s ease;
}
.slide-shadow6 {
  position: absolute;
  top: 48%;
  right: 19%;
  transform-origin: top left;
  transform: rotate(31deg);
  width: 80%;
  height: 2%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 3s ease;
}
#pseudo-shadow7 {
  position: absolute;
  top: -0.5%;
  left: 63.8%;
  transform-origin: top left;
  rotate: 59deg;
  width: 41.5%;
  height: 1%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  clip-path: polygon(1.75% 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 3s ease;
}

#shutter-box:hover #pseudo-shadow7 {
  translate: -37% 0%;
}
#shutter-box:hover .slide-shadow3 {
  translate: 37.5% 0%;
}
#shutter-box:hover .slide-shadow4 {
  translate: 25% 0%;
}
#shutter-box:hover .slide-shadow5 {
  translate: 37.5% 0%;
}

#apt6 {
  transform-origin: top left;
  width: 83.3333%;
  height: 100%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  left: 50%;
  top: 0%;
}
