@font-face {
  font-family: "terano-font";
  src: url("./TeranoRegular.ttf");
}

.terano {
  font-family: "terano-font";
}

@font-face {
  font-family: "bisect-font";
  src: url("./Bisect.otf");
}

.bisect {
  font-family: "bisect-font";
  font-size: 2em;
  margin: auto;
  /* color: rgb(20, 168, 168); */
  background-image: linear-gradient(
    0deg,
    rgb(46, 46, 46) 0%,
    rgb(0, 140, 152) 58.2%,
    rgb(75, 75, 75) 58.3%,
    rgb(33, 33, 33) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* mix-blend-mode: difference; */
}
body {
  margin: 0%;
}
nav {
  display: flex;
  align-items: center;
  height: 5em;
  /* background-color: rgba(37, 37, 37, 0.22); */
  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgb(33, 33, 33) 0%,
    rgba(75, 75, 75, 1) 53%,
    rgba(0, 140, 152, 1) 54%,
    rgba(46, 46, 46, 1) 100%
  );
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
